<h1>List of Actors</h1>

<a href="http://localhost:3000/movies">See their movies</a>
<a href="http://localhost:3000/directors">See their directors</a>
<a href="/">HOME</a>

<hr>

<a href="http://localhost:3000/actors/new">Add a New Actor</a>
<table>
  <% @list_of_actors.each do |actor| %>
    <tr>
      <td><%= actor.name %></td>
      <td>
        <img src="<%= actor.image_url %>">
      </td>

      <td>
      <a href="http://localhost:3000/actors/<%= actor.id %>">Show</a>
    </td>
    <td>
      <a href="http://localhost:3000/actors/<%= actor.id %>/edit">Edit</a>
    </td>
    <td>
      <a href="http://localhost:3000/delete_actor/<%= actor.id %>">Delete</a>
    </td>

  </tr>
  <% end %>
</table>
